*{
	margin: 0;
	padding: 0;
}

html,body{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(150deg, #33b0a6,#fb5f21);
	overflow: hidden;
}

.container{
	width: 600px;
	height: 350px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0, 0, 0, .7);
	border-radius: 20px;
	box-shadow: 0px 0px 20px rgba(17, 39, 59, .8);
	box-sizing: border-box;
	overflow: hidden;
}

.login-box
,.register-box
,.findPW-box{
	width: 600px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#login-title
,#register-title
,#findPW-title{
	position: absolute;
	top: 2%;
	font-size: 50px;
	color: white;
	text-shadow: 0 0 20px #33B0A6;
}

.input{
	margin-bottom: 20px;
}

.input input{
	width: 400px;
	height: 35px;
	border-radius: 20px;
	border: 0;
	outline: 0;
	padding-left: 20px;
}

.input input:focus{
	box-shadow: 0 0 10px red;
}

#login input
,#register-1 input
,#findPW input{
	width: 150px;
	height: 35px;
	border-radius: 20px;
	border: 0;
	padding: 3px;
	outline: 0;
	font-size: 18px;
}

#login input:hover
,#register-1 input:hover
,#findPW input:hover{
	background-color: rgba(102,217,239,.7);
	color: white;
	transition: background-color .5s,color .5s;
	text-shadow: 0 0 5px #33B0A6;
}

#register input
,#forgetPW input
,#login-1 input
,#login-2 input{
	background-color: inherit;
	border: 0;
	outline: 0;
	color: white;
}

#register input:hover
,#forgetPW input:hover
,#login-1 input:hover
,#login-2 input:hover{
	color: skyblue;
	transition: color .5s;
	text-shadow: 0 0 5px #33B0A6;
}

#register{
	position: absolute;
	bottom: 20%;
	left: 27%;
}

#forgetPW{
	position: absolute;
	bottom: 20%;
	left: 60%; 
}

#welcome{
	position: absolute;
	bottom: 2%;
}

#welcome img{
	width: 50px;
}

@keyframes fadeOut{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes fadeIn{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}