html,body{
	font-size: 62.5%;
	margin: 0px;
	background-color: skyblue;
	width: 100%;
	height: 100%;     /* 没高度怎么垂直居中!!! */
}

body{  /* 为什么垂直居中后before元素的中间线不重叠了 */
	display: flex;
	justify-content: center;
	align-items: center;
}

.parent{
	position: relative;
}

.child{
	position: absolute;
}

.flex_vertical{
	display: flex;
	flex-direction: column;
}

.flex_horizontal{
	display: flex;
	flex-direction: row;
}

#login-box{
	width: 80rem;
	height: 40rem;
	background-color: white;
	min-width: 80rem;
}

#login-box-left
,#login-box-right{
	width: 50%;
	box-sizing: border-box;
	border: 1px solid black;
}

#login-banner{
	background-color: green ;
	height: 13rem;
	font-family: '楷体';
	font-size: 2.5rem;
	color: white;
	margin-bottom: 4rem;
}

#login-banner span{
/* 	display: inline-block;
	padding-top: 5rem;
	padding-left: 17.5rem; */
	display: flex;
	justify-content: center;
	/* align-items: center; */
	padding-top: 5rem;
}

#login-content{
	padding: 0px 10rem;
}

#login-input{
	margin-bottom: 1rem;
}

#login-input input{
	outline: none;
	width: 100%;
	padding: 1rem;
	height: 2rem;
}

/* #login-input input:focus{
	border-color: skyblue;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.75),0 0 8px rgba(102,175,233,.6); 
} */

#login-user{
	margin-bottom: -0.1rem;
}

/* #login-password
,#login-user{
	height: 4rem;
} */

#login-password input
,#login-user input{
	height: 4rem;
	box-sizing: border-box;
	border: 1px solid #9a9a9a;
	min-width: 6rem;
}

#login-options{
	font-size: 1.2rem;
	justify-content:space-between;
	/* align-items: center; */
	margin-bottom: 1rem;
	width: 20rem;
}

/* #login-options input[type="checkbox"]{
 	width: ;
	height: ; 
	vertical-align: middle;
} */

#forgot button
,#toSignUp button{
	border: 0;
	background-color: inherit;
	outline: none;
	font-size: 1.2rem;
}

#signIn-btn button{
	width: 20rem;
	background-color: rgb(78,190,230);
	color: white;
	font-weight: bold;
	font-size: 1.6rem;
	height: 4rem;
	outline: none;
	border: 1px solid rgba(0,0,0,.4));
	transition: background-color,color 0.5s;
}

#signIn-btn button:hover{
	background-color: rgb(218,77,66);
	color: #000000;
}

#signIn-btn{
	margin-bottom: 2rem;
}

#toSignUp{
	width: 20rem;
	display: flex;
	justify-content: center;
}

#forgot button:hover
,#toSignUp button:hover{
	color: red;
}

#login-password:before
,#login-user:before{
	font-family: "FontAwesome";
	width: 6rem;
	min-width: 4rem;
	height: 4rem;
	font-size: 2.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #9a9a9a;
	box-sizing: border-box;
	margin-right: -0.1rem;
	color: rgb(117,117,117);
}

#login-password:before{
	content: "\f084";
}

#login-user:before{
	content: "\f007";
}

#forgot button:focus
,#toSignUp button:focus{
	outline: 1px solid rgb(78,190,230);
/* 	box-shadow: inset 1px 1px 1px rgba(0,0,0,.75),0 0 9px rgba(78,190,230,.9); */
}

/* .input-change:-ms-input-placeholder
,.input-change::-webkit-input-placeholder
,.input-change::-moz-placeholder{
	color: rba(154,221,239);
} */

#login-user input:focus
,#login-password input:focus{
	color: rgb(78, 190, 230);
	border:2px solid rgb(78, 190, 230);
	z-index: 999;
}

.login-before:before{
	color: white !important;
	background-color: skyblue;
	border: solid rgb(78, 190, 230) !important;
	border-width: 2px 0 2px 2px !important;
	z-index: 999;
}

#forgot
,.rem-span{
	margin-top: 0.2rem;
}

#rem{
	margin-top: 0.2rem;
	position: relative;
	border: 1px solid rgba(0,0,0,.5);
	height: 1.6rem;
	width: 1.6rem;
	margin-right: 0.3rem;
}

/* .rem-box::before{
	content: ' ';
	border: 1px solid rgba(0,0,0,.5);
	display: inline-block;
	height: 1.6rem;
	width: 1.6rem;
	vertical-align: middle;
	margin-right: 0.3rem;
} */

.rem-box-change::before{
	content: '';
	display: flex;
/* 	justify-content: center;
	align-items: center; */
	margin-top: .25rem;
	margin-left: .25rem;
/* 	margin-bottom: .25rem;
	margin-right: .25rem; */
	height: 0.5rem;
	width: 1.1rem;
	min-height: 0.5rem;
	min-width: 1.1rem;
	border: solid rgba(0,0,0,.8);
	border-width: 0 0 1px 1px;
	transform: rotate(-45deg);
	
}	

