body,
html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #f8f8f8;
}

body::-webkit-scrollbar{
    display: none;
}

.flex_vertical{
	display: flex;
	flex-direction: column;
}

.flex_horizontal{
	display: flex;
	flex-direction: row;
}

.parent{
	position: relative;
}

.child{
	position: absolute;
}

a{
	text-decoration: none;
	color: inherit;
}

#container{
	min-width: 100%;
}

#top{
	width: 100%;
	height: 50px;
	background-color: #ffffff;
}

#acFun{
	left: 10vw;
	padding-top: 10px;
}

#shop{
	left: 17vw;
	top: 14px;
	
}

#shop img{
	vertical-align: middle;
}

#shop span{
	font-size: 12px;
	padding:0px 5px;
	color: rgba(0,0,0,0.7);
}

#search{
	left: 35vw;
	top: 10px;
}

#search input{
	height: 25px;
	width: 300px;
	padding: 3px 10px;
	outline: none;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.1);
}

#search img{
	background-color: rgba(255,48,48,0.8);
	width: 34px;
	border-radius: 4px;
}

#download{
	left: 65vw;
	top: 14px;
}

#download img{
	vertical-align: middle;
	width: 20px;
}

#download span{
	font-size: 12px;
	padding:0px 1px;
	color: rgba(0,0,0,0.7);
}

#login-signUp{
	left: 72vw;
	top: 18px;
	font-size: 12px;
	color: rgba(0,0,0,0.7);
}

#icon-5678{
	left: 77vw;
	top: 15px;
}

.top-icon{
	padding: 0px 8px;
}

.top-icon img{
	width: 20px;
}

#banner{
	width: 100%;
}

#navigation{
	background-color: rgb(255,255,255);
	width: 100%;
	height: 40px;
	font-size: 14px;
	align-items: center;
	overflow: hidden;
}

#navigation-left{
	width: 65%;
	left: 10vw;
}

.navigation-left-item{
	width: calc(100% / 14);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#navigation-right{
	right: 14vw;
}

#navigation-right img{
	width: 15px;
	vertical-align: middle;
}

#navigation-right span{
	padding-left: 5px;
	color: rgba(0,0,0,0.7);
	font-size: 13px;
}

#main-1{
	margin-top: 10px;
	width: 100%;
}

#main-1-left{
	margin-left:150px;
	width: 45%;
}

#main-1-left img{
	border-radius: 9px;;
}

#main-1-right{
	width: 55%;
	margin-right: 230px;
}

#main-1-right img{
	width: 200px;
	border-radius: 9px;
}

#main-1-right-first{
	margin-bottom: 10px;
}

.main-1-item{
	margin: 0px 10px;
}

#monkey-recommand
,#banana
,#fun
,#comic
,#life{
	margin-top: 40px;
	margin-left: 150px;
}

#monkey-recommand img
,#banana img
,#fun img
,#comic img
,#life img{
	width: 40px;
	margin-right: 10px;
}

#span-1,#span-3,#span-5{
	font-size: 18px;
	font-weight: bold;
	padding-top: 5px;
	color: rgba(0,0,0,0.8);
}

#span-2,#span-4{
	padding-left: 20px;
	padding-top: 10px;
	font-size: 12px;
	color: rgba(0,0,0,0.3);
}

#main-2{
	width: 100%;
	margin-top: 10px;
	margin-left: 150px;
}

#main-3-left-first
,#main-3-left-second
,#main-3-left-banner
,#main-4-left-first
,#main-4-left-second
,#main-8-left-first
,#main-8-left-second{
	width: 65%;
	margin-top: 10px;
	margin-left: 150px;
}

#main-7-left{
	width: 65%;
}

#main-2 img
,.main-3-left-item img
,.main-4-left-item img
,.main-8-left-item img{
	width: 150px;
	border-radius: 9px;
}

.main-2-item{
	margin: 0px 13px;
}

.main-3-left-item
,.main-8-left-item{
	margin: 0px 10px;
}

.main-4-left-item{
	margin: 2px 12px;
}

#main-2-item-6 img{
	width: 250px;
}

.main-2-span-1
,.main-3-span-1
,.main-4-span-1{
	font-size: 12px;
}

.main-2-span-2
,.main-3-span-2
,.main-4-span-2{
	font-size: 12px;
	color: rgba(0,0,0,0.3);
}

#main-3-left
,#main-4-left
,#main-7-left
,#main-8-left{
	width: 65%;
}

#rank{
	padding-left: 87%;
	font-size: 13px;
	color: rgba(0,0,0,0.7);
	padding-top: 10px;
}

#rank-1{
	font-size: 13px;
	color: rgba(0,0,0,0.7);
	top: 55px;
	left: 180px;
}

#rank-2{
	font-size: 13px;
	color: rgba(0,0,0,0.7);
	top: 48px;
	left: 150px;
}

#fun-menu{
	padding-left: 61%;
	font-size: 13px;
	color: rgba(0,0,0,0.7);
	top: 15px;
}

#fun-menu-1{
	padding-left: 48%;
	font-size: 13px;
	color: rgba(0,0,0,0.7);
	top: 10px;
}

#fun-menu-2{
	padding-left: 58%;
	font-size: 13px;
	color: rgba(0,0,0,0.7);
	top: 10px;
}

#life-menu{
	padding-left: 65%;
	font-size: 13px;
	color: rgba(0,0,0,0.7);
	top: 15px;
}

#science-menu{
	padding-left: 78%;
	font-size: 13px;
	color: rgba(0,0,0,0.7);
	top: 15px;
}

.rank_item
,.fun_item
,.life_item{
	padding: 0px 5px;
}

#main-3-left-banner img{
	width: 840px;
	border-radius: 9px;
}

#main-3-right
,#main-4-right
,#main-7-right
,#main-8-right{
	width: 35%;
}

#main-3-right h3{
	padding-top: 25px;
	padding-left: 30px;
}

#main-4-right h3{
	padding-top: 30px;
	padding-left: 35px;
}

#main-8-right h3{
	padding-top: 25px;
	padding-left: 40px;
}

#main-3-right-navigation{
	background-color: rgb(255,255,255);
	width: 50%;
	height: 25px;
	font-size: 13px;
	align-items: center;
	margin-left: 30px;
}

.navigation-3-item{
	width: calc(100% / 6);
	padding-left: 8px;
}

#list,#list-1{
	list-style: none;
	font-size: 12px;
	line-height: 25px;
}

#list img
,#list-1 img{
	width: 95px;
	border-radius: 8px;
}

#li-span-1
,#li-span-4{
	left: 95px;
}

#li-span-2
,#li-span-5{
	left: 100px;
	top: 20px;
	color: rgba(0,0,0,0.4);
}

#li-span-3
,#li-span-6{
	left: 100px;
	top: 35px;
	color: rgba(0,0,0,0.4);
}

#main-3-more{
	display: block;
	margin-left: 45px;
	height: 30px;
	width: 50%;
	border-radius: 7px;
	outline: unset;
	border: 0;
	cursor: pointer;
}

#main-4-more{
	display: block;
	margin-left: 40px;
	height: 22px;
	width: 50%;
	border-radius: 7px;
	outline: unset;
	border: 0;
	cursor: pointer;
}

.change{
	display: block;
	height: 22px;
	width: 74px;
	border-radius: 3px;
	border: 0;
	margin-top: 7px;
	margin-left: 4px;
	text-align: center;
	outline: unset;
	cursor: pointer;
}

#main-4-left-first-1{
	margin-right: 12px;
}

#main-4-left-first-1 img{
	width: 320px;
	border-radius: 8px;
}

#main-4-left-second .main-4-left-item{
	margin-left: 0px;
	padding: 0px 5px;
}

#list-1 li{
	margin: 0px
}

.li-span{
	color: rgba(0,0,0,0.3);
}

#main-7,#main-8{
	width: 100%;
}

#comic-menu{
	margin-top: 10px;
	margin-left: 20px;
	font-size: 12px;
}

.comic_menu_item{
	padding: 0px 10px;
}

.comic_item{
	font-size: 12px;
	top: 18px;
	left: 95%;
}

#schedule{
	margin-top: 5px;
	margin-left: 150px;
	width: calc(100% / 7);

}

.schedule-1{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	width: 60px;
	padding: 0px 30px;
	text-align: center;
}

.schedule-2{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
}

.schedule-2 img{
	width: 120px;
}

#schedule-menu a{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	padding-left: 15px;
	padding-bottom: 15px;
	height: 41px;
	min-height: 41px;
	max-height: 41px;
	overflow: hidden;
}

.schedule_span_1{
	font-size: 10px;
}

.schedule_span_2{
	font-size: 10px;
	color: rgba(0,0,0,0.4);
}

#main-7-right{
	left:68% ;
	top: 33px;
}

#main-7-right img{
	width: 250px;
	border-radius: 8px;
	margin-bottom: 9px;
}

#footer{
	margin-top: 80px;
	background-color: #ececec;
	width: 100%;
	height: 340px;
}

#footer span{
	font-size: 12px;
}

#footer-first{
	left: 10vw;
}

.footer-first-item{
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgba(125,125,125,0.1);
}

.footer-first-item:last-child
,.footer-first-item:nth-last-child(2){
	border: none;
}

#footer h5{
	font-size: 12px;
	color: rgba(0,0,0,0.3);
	padding-left: 0px;
	margin: 20px 0px 10px 0px;
}

#footer h5:nth-last-child(2){
	margin-left: 20px;
}


#footer ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	flex-wrap: wrap;
	width: 200px;
}

#footer ul li{
	width: 80px;
	padding: 5px 0px 5px 20px;
}

.footer-first-item img{
	padding-top: 20px;
	padding-left: 30px;
	width: 100px;
}

#footer-second{
	margin-left: 10vw;
	margin-top: 150px;
}

.footer-second-item{
	display: flex;
	flex-direction: row;
	font-size: 12px;
	color: rgba(0,0,0,0.3);
	padding-top:10px;
}

.footer-second-item a{
	width:300px;
}

#footer-third{
	margin-top: 25px;
	align-items: center;
}

#footer-third p{
	margin: 5px 0px 0px 0px;
	font-size: 12px;
	color: rgba(0,0,0,0.3);
}

a:hover,.a-active{
	color: rgba(255,48,48,0.8);
	
}

#content{
	margin-left: auto;
	margin-right: auto;
}

#main-1-left {
	transition: ease .5s;
	height: 250px;
	overflow: hidden;
}

#rotation-1-box img {
	height: 100%;
	min-width: 100%;
	object-fit: cover;
	margin: 0;
	padding: 0;
}