* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    min-width: 1000px;
}

#root {
    display: flex;
    flex-direction: column;
}

#top {
    width: inherit;
    height: 200px;
    background-color: rgba(9,7,35,1);
    position: relative;
}

#bottom {
    width: inherit;
}

.card {
    margin-top: 10px;
}

.card-btn {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.card-btn input[type = button] {
    background-color: inherit;
    border: 0;
    outline: 0;
}

.card-btn input[type = button]:hover {
    color: #33b0a6;
    transition: color .2s;
}

.modify-btn
,.confirm-modify-btn{
    margin-right: 20px;
}

.list-group-item input[type = text] {
    border: 0;
    outline: 0;
}

.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    animation: bubbling 10s infinite ease-in;
    opacity: 0.5;
    background-color: #33b0a6;
    bottom: -50px;
}

.bubble:nth-child(1) {
    width: 30px;
    height: 30px;
    left: 0;
    animation-duration: 10s;
}

.bubble:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 8s;
    animation-delay: 1s;
}

.bubble:nth-child(3) {
    width: 40px;
    height: 40px;
    left: 25%;
    animation-duration: 10s;
    animation-delay: 5s;
}

.bubble:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 30%;
    animation-duration: 7s;
    animation-delay: 0s;
}

.bubble:nth-child(5) {
    width: 40px;
    height: 40px;
    left: 85%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.bubble:nth-child(6) {
    width: 45px;
    height: 45px;
    left: 60%;
    animation-duration: 8s;
    animation-delay: 2s;
}

.bubble:nth-child(7) {
    width: 25px;
    height: 25px;
    left: 65%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.bubble:nth-child(8) {
    width: 30px;
    height: 30px;
    left: 50%;
    animation-duration: 6s;
    animation-delay: 5s;
}

.bubble:nth-child(9) {
    width: 35px;
    height: 35px;
    left: 15%;
    animation-duration: 9s;
    animation-delay: 0s;
}

.bubble:nth-child(10) {
    width: 50px;
    height: 50px;
    left: 85%;
    animation-duration: 5s;
    animation-delay: 2s;
}

.bubble:nth-child(11) {
    width: 50px;
    height: 50px;
    left: 15%;
    animation-duration: 8s;
    animation-delay: 2s;
}

.bubble:nth-child(12) {
    width: 60px;
    height: 60px;
    left: 90%;
    animation-duration: 5s;
    animation-delay: 2s;
}

.bubble:nth-child(13) {
    width: 50px;
    height: 50px;
    left: 55%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.bubble:nth-child(14) {
    width: 50px;
    height: 50px;
    left: 40%;
    animation-duration: 5s;
    animation-delay: 0s;
}

.bubble:nth-child(15) {
    width: 50px;
    height: 50px;
    left: 75%;
    animation-duration: 7s;
    animation-delay: 3s;
}

@keyframes bubbling {
    0% {
        transform: translateX(0);
        bottom: -100px;
    }

    50% {
        transform: translateX(100px);
        background-color: #fb5f21;
        transition: background-color 4s;
    }

    100% {
        transform: translateX(-200px);
        bottom: 1080px;
    }
}